
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

@media (max-width: 48rem) {
  .login {
    flex-direction: column;
  }
}

.login-splitter {
  color: var(--text-color);
}

.signin-cookies-section, .auth-providers {
  padding: 1em;
  border: thick solid var(--neutral-dark-color);
}