
.contact {
  display: block;
  margin: 3rem;
}

.contact-details {
  display: grid;
  grid-template-columns: min-content min-content;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-items: start;
  align-items: center;
  margin-top: 1.5rem;
}

.contact-label {
  justify-self: right;
}